<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pediatrics</title>


</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/homepage" class="site_title"><span>Homepage</span></a>
                </div>
                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-doctor"></i> Doctors <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="#">All doctors</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-doctor_type"></i> Doctor Types <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="#">All doctor types</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-patient"></i> Patients <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="#">All patients</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-examination"></i> Examinations <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="#">All examinations</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-refer"></i> Refers <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="#">All refers</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="menu_section">
                        <h3>Health tips</h3>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-windows"></i> Health tips <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="https://www.healthline.com/nutrition/27-health-and-nutrition-tips">Health and nutrition tips</a></li>
                                    <li><a href="https://www.mhanational.org/31-tips-boost-your-mental-health">Tips for mental health</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->
            </div>
        </div>




        <div class="right_col" role="main">
            <!-- top tiles -->
            <div class="container-login100" style="background-image: url('images/picture1.jpg');">
            </div>
            <!-- /top tiles -->
        </div>

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                About health <a href="https://www.ahigherbranch.com/health/">Why is health the most important part of your life?</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>


</body>
</html>
